@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Roboto:wght@300&display=swap');

*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: Baskerville;
}

.hamburger {
    border: calc(1em/8.5) solid #fff !important;
    cursor: pointer;
    z-index: 3;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #fff;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #fff;
}

.hamburger.is-active:hover,
.hamburger.is-active:visited,
.hamburger.is-active:link {
    opacity: 1;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
    opacity: 1;
}

.hamburger-box {
    position: relative;
    top: 3px;
}
//.5rem 1rem
.navbar {
    padding: 0;
    // opacity: .5;
    // background-color: transparent !important;
    #nav-contain-menu{
        padding:.5rem 1rem;
    }
    .navbar-brand {
        font-family: 'Goldman', cursive;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin: 0;
        color: #fff !important;
    }
}
#nav-contain-menu {
    z-index: 1;
}

#nav-contain-links a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

main {
    position: relative;
    top: 79px;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content-divs {
    width: 90vw;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 0.5em;

    h1 {
        font-family: 'Goldman', cursive;
    }

    hr {
        background-color: #000;
    }
}

.no-scroll {
    height: 100vh;
    overflow-y: hidden;
}

@media screen and (max-width: 991px) {
    #nav-contain-links {
        position: relative;
        color: #fff;
        // clip-path: circle(50vh at 110% -50%);
        // transition: all 1s ease-in-out; //last try
    }
    // .collapsing {
    //     transition: none;
    // }
    #nav-contain-links.show {
        // clip-path: circle(120vh at 120% 50%);
    }

    .navbar-nav {
        position: relative;
        bottom: 144px;//allows red circle to overlap navigation
        background-color: red;
        // height: calc(100vh - 74px);
        height:120vh;
       
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // margin: 8em 0;
        padding: 8em 0;
        // transition: display 3s ease-in-out; last try
        // transition: height 3s ease-in-out;
        a {
            display: inline-block;
            text-align: right;
            margin-right: 1em;
        }
    }
}
//media query ends

